body{

height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

form{
    display: flex;
    gap: 16px;
}

select{
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
}